@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*overflow-x: hidden;*/
    min-height: 100vh;
    background: #f5f5f5;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #f5f5f5;
}

.logo {
    font-size: 2.5em;
    color: #4289b6;
    text-decoration: none;
}

.nav a {
    text-decoration: none;
    color: #242424;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.nav a:hover,
.nav a.active{
    background: #4289b6;
    color: white;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#nama {
    font-size: 5em;
    color: #74badb;
    text-align: center;
    position: absolute;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #4289b6;
    color: white;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: white;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: white;
    font-weight: 300;
}

.kamil {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.profil {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end; /* This pushes content to the right */
    margin-right: 19%;  
}

.profil-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -100px;
}

.profil-content h2 {
    font-size: 50px;
    color: #4289b6;
}

.profil-content h3 {
    font-size: 25px;
    width: fit-content;
}

.profil-content p {
    width: 600px;
    font-size: 20px;
    text-align: justify;
    margin-top: 20px;
}

.sosmed {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.sosmed img {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: 30px;
}

.sosmed a:hover{
    transform: scale(1.1);
}